
.header {
    width: 100%;
    height: fit-content;
    position: relative;
    overflow: hidden;
}

.cloud {
    position: absolute;
    width: 360px;
    height: 365px;
    opacity: 0.8;
    transition: all 0.5s ease-in-out;
}

.cloud1 {
    left: 8%;
    z-index: 22;
    filter: blur(18px);
}
.cloud1:hover {
    left: 6%;
}

.cloud6 {
    left: 40%;
    z-index: 30;
    filter: blur(12px);
}
.cloud6:hover {
    left: 45%;
}

.cloud2 {
    left: 30%;
    z-index: 23;
    filter: blur(8px);
}
.cloud2:hover {
    left: 35%;
}

.cloud3 {
    left: 25%;
    z-index: 25;
    filter: blur(8px);
}
.cloud3:hover {
    left: 30%;
}

.cloud4 {
    left: 15%;
    z-index: 27;
    filter: blur(8px);
}
.cloud4:hover {
    left: 10%;
}

.cloud5 {
    left: 55%;
    z-index: 30;
    filter: blur(8px);
}
.cloud5:hover {
    left: 50%;
}

.cloud7 {
    left: 65%;
    z-index: 22;
    filter: blur(18px);
}

.cloud8 {
    left: 80%;
    z-index: 22;
    filter: blur(18px);
}

.cloud9 {
    left: 180%;
    z-index: 22;
    filter: blur(18px);
}

.cloud10 {
    left: -30%;
    z-index: 22;
    filter: blur(18px);
}

.cloud11 {
    left: -50%;
    z-index: 22;
    filter: blur(18px);
}

.cloud12 {
    left: 160%;
    z-index: 22;
    filter: blur(18px);
}

.baby {
    width: 641px;
    height: 613px;
} 

  /*
  https://css-tricks.com/using-svg/
  */
  .el {
  
    background-image: url('../../resources/body/baby/stock-photo-asian-baby-in-the-room-159694898.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='641.184' height='612.863' viewBox='0 0 641.184 612.863'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23777;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M134.042,2472.164c200.6,264.772,486.452,63.376,486.452,63.376s97.977-59.106,61.236-177.783-90.7-92.782-125.91-169.065c-50.027-108.379-55.77-126.674-172.839-175.96C183.814,1928.885-93.187,2172.24,134.042,2472.164Z' transform='translate(-48.79 -1995.997)'/%3E%3C/svg%3E");
    
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='641.184' height='612.863' viewBox='0 0 641.184 612.863'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23777;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M134.042,2472.164c200.6,264.772,486.452,63.376,486.452,63.376s97.977-59.106,61.236-177.783-90.7-92.782-125.91-169.065c-50.027-108.379-55.77-126.674-172.839-175.96C183.814,1928.885-93.187,2172.24,134.042,2472.164Z' transform='translate(-48.79 -1995.997)'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='641.184' height='612.863' viewBox='0 0 641.184 612.863'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23777;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M134.042,2472.164c200.6,264.772,486.452,63.376,486.452,63.376s97.977-59.106,61.236-177.783-90.7-92.782-125.91-169.065c-50.027-108.379-55.77-126.674-172.839-175.96C183.814,1928.885-93.187,2172.24,134.042,2472.164Z' transform='translate(-48.79 -1995.997)'/%3E%3C/svg%3E");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    
    animation: clip-fade 1s 1 ease-in-out; 
    -webkit-animation-duration:1s;
    -webkit-animation-name: clip-fade;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: both;
  }
